<div class="commands">
  <a href="#" {{action "showNew"}}>New Blog Post</a>
</div>


<h2>Recent entries<h2>
<table>
  <thead>
  </thead>
  <tbody>
  {{#each blogs}}
    {{view App.ShowBlogView blogBinding="this"}}
  {{/each}}
  {{#if isNewVisible}}
    <tr>
      <td>*</td>
      <td>
        {{view App.NewBlogView}}
      </td>
    </tr>
  {{/if}}
  </tbody>
</table>
